.rectangle {
  height: 7px;
  width: 60px;
  background-color: brown;
  margin: 50px auto;
}

.main-picture {
  height: 200px;
  width: 50%;
  margin-left: 25%;
  border-radius: 10px;

}

.navigation-pictures {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.navigation-pictures img {
  height: 200px;
  width: 250px;
  cursor: pointer;
}

.navigation-pictures img:hover {
  scale: 1.1;
  transition: 1s;
  box-shadow: 0 8px 100px 0px;
}

.main-link {
  color: rgb(red, green, blue);
  background-color:  white;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';
}

.facebook-button img {
  height: 30px;
  padding: 20px 10px;
}

.facebook-button span {
  position: relative;
  top: -30px;
  height: 30px;
  color: white;
}

.facebook-button:hover {
  color: #7ba9c3;
  cursor: pointer;
}