.pilt {
  height: 100px;
}

.pilt:hover {
  opacity: 0.7;
}

.nupp {
  border: 2px dotted blue;
}

.nupp:hover {
  font-weight: bold;
}

.kuldne {
  color: gold;
}

.aktiivne-url {
  font-size: 20px
}

.hele-leht {
  background-color: azure;
  height: 100%;
  min-height: 100vh;
}

.tume-leht {
  background-color: black;
  color: white;
  height: 100%;
  min-height: 100vh;
  /* view height - ekraani k6rgus
  minimaalne selle css klassi k6rgus on ekraani k6rgus view heightes ehk vaate protsentides
  50vh = 50% */
}

.varviline-leht {
  background-color: maroon;
  color: green;
  min-height: 100vh;
  height: 100%;
}